﻿<%@ Page Title="Settings Friends" Language="VB" AutoEventWireup="false" MasterPageFile="~/Master.Master" CodeFile="SettingsFriends.aspx.vb" Inherits="SettingsFriends" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContentPlaceHolder" runat="server">
<<<<<<< HEAD

=======
>>>>>>> 51d70a2b95253a161c643f1cbe05527a90414bb2
    <div class="container">

        <!-- Heading-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
<<<<<<< HEAD
                <h1 style="margin-left: 5px; text-align: left;">Settings page</h1>
=======
                <h1 style="margin-left: 5px; text-align: center">Settings page</h1>
>>>>>>> 51d70a2b95253a161c643f1cbe05527a90414bb2
            </div>
        </div>

        <!-- Sub page buttons-->
        <div class="row">
            <div class="form-group col-xs-12 col-sm-12 col-md-11">
                <asp:Button ID="ButtonAboutYou" class="btn btn-info  col-xs-12 col-sm-12 col-md-2" runat="server" Text="About Me" Style="display: inline-block; margin-left: 5px; margin-right: 5px; margin-bottom: 5px;" />
                <asp:Button ID="ButtonMyFriends" class="btn btn-info active col-xs-12 col-sm-12 col-md-2" runat="server" Text="My Friends" Style="display: inline-block; margin-left: 5px;" />
            </div>
        </div>

        <!--Display friends-->
        <div class="row col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h3>
<<<<<<< HEAD
                    <asp:Label ID="LabelFriends" runat="server" Text="Your Friends"></asp:Label></h3>
=======
                    <asp:Label ID="LabelFriends" runat="server" Text="Your Friends"></asp:Label></h3>                
>>>>>>> 51d70a2b95253a161c643f1cbe05527a90414bb2
                <asp:Panel ID="PanelFriends" runat="server" Style="padding-left: -10px;"></asp:Panel>

            </div>

            <!--Detail view-->
<<<<<<< HEAD
            <div class="col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <asp:Panel ID="PanelDetail" runat="server" Style="padding-top: 80px;"></asp:Panel>                
            </div>
=======
            <div class="col-xs-12 col-sm-12 col-md-6">
                <asp:Panel ID="PanelDetail" runat="server" Style="background-color: #ffffff;"></asp:Panel>
            </div>

>>>>>>> 51d70a2b95253a161c643f1cbe05527a90414bb2
        </div>
    </div>


</asp:Content>
